#!/usr/bin/make -f

LDFLAGS+=-Wl,-z,defs -Wl,--as-needed
#export LDFLAGS
export DEB_CFLAGS_MAINT_APPEND = -Wno-implicit-function-declaration -Wno-int-conversion
export DEB_CXXFLAGS_MAINT_APPEND = -Wno-format-security

%:
	dh $@ --buildsystem=meson --sourcedirectory=desmume/src/frontend/posix

override_dh_auto_configure:
	dh_auto_configure -- --bindir=games -Dfrontend-gtk=false

override_dh_autoreconf:
	#rm desmume/src/frontend/posix/configure.ac
	#rm desmume/src/frontend/posix/Makefile.am

override_dh_clean:
	dh_clean -X desmume/src/frontend/interface/windows/SDL/include/SDL_config_macosx.h.orig
